* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(74, 166, 241, 0.753);
  width: 60%;
  height: calc(100vh - 25px);
  margin: auto;
  position: relative;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  margin: 25px auto;
}

form {
  display: flex;
  flex-direction: column;
  height: 300px;
}

select,
input {
  height: 35px;
  border-radius: 6px;
  outline: 1px solid blue;
  border: none;
  padding: 0 10px;
  margin-bottom: 35px;
}

label {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  width: 50%;
  height: 35px;
  margin: 0 auto;
  border: none;
  background-color: rgb(50, 101, 210);
  font-weight: bold;
  border-radius: 6px;
}

button:hover {
  opacity: 0.9;
}

p {
  font-size: 36px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
